@model GummiBearKingdom.Models.Product

<html>
<head>
    <title>Gummi Bear Product - Delete</title>
</head>
<body>

    <h2>Are you sure you want to delete this?</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }
    @Html.ActionLink("Back to List", "Index")
</body>
</html>